body{
    background-image: url("image/background.jpg");
}

#logo{
    height: 4px;
    width: 20px;
}

#menuRecherche{
    height: 4px;
    width: 20px;
}

#menuRecherche table{
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray;
}

#home{
    text-align: center;
}